
p{
font-size:120%; 
color:#6E93B8;
/*box-shadow: 10px 10px 5px grey;*/
}
h2{
/*font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;*/
font-size:190%; 
/*box-shadow: 10px 10px 5px grey;*/
color:#6E93B8;

}

	
