p{
	font-size:110%; 
	/*color:#6E93B8;*/
	/*box-shadow: 10px 10px 5px grey;*/
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h1{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:190%; 
	/*box-shadow: 10px 10px 5px grey;*/
	/*color:#6E93B8;*/

}
.carousel-caption {
color: black;
}
.carouselWrapper {


color: black;
}
.carouselWrapper p {
text-align:center;
width: auto;
height: auto;
	/*max-height: 225px;
	  }
