/* Bootstrap modifications */
.navbar-collapse {
text-align:center;
}

.carousel-caption {
color: black;
}
/*.carouselWrapper p {*/
.carouselWrapper  {
text-align:center;
width: auto;
}
.navbar-nav {
display:inline-block;
float:none;
width: 100%;
text-align: center;
> li {
float: none;
display: inline-block;
}
}
.carousel-control.left, .carousel-control.right{
background-image: none;
}

/* Personal mods and classes */
*{
font-family:"Courier New","Palatino Linotype", "Book Antiqua", Palatino, serif;
}
p{
/*font-size:110%; */
/*color:#6E93B8;*/
/*box-shadow: 10px 10px 5px grey;*/
}
h1{
font-size:190%; 
/*box-shadow: 10px 10px 5px grey;*/
/*color:#6E93B8;*/
}
.day{
font-size: 190%;
/*box-shadow: 10px 10px 5px grey;*/
}
.category{
font-style:oblique;
font-size:110%;
font-weight:bold;
}

.question{
font-style:italic;
/*color:#6E93B8;*/
}
.answer{
font-size: 250%;
font-family:"Palatino Linotype";
}
